node_modules/
dist/
.env
data/drafts/submissions/
data/drafts/documents/
data/drafts/uploads/
file_storage/generated_affidavits/*.pdf
file_storage/generated_rent_agreements/*.pdf
legaldrafterpro-17112-firebase-adminsdk-fbsvc-dde9c7d988.json